*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html
{
	height: auto;
}
body {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
	height: auto;
  background: #e9eaed;
  font: 14px 'Open Sans', sans-serif;
  background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
.container {
  padding-top: 20px;
}
.todo-list {
  display: flexbox;
  margin: 20px 0;
}
.todo-list li {
  background: #fff;
  border-radius: 5px;
/* box-shadow 0 0 15px rgba(0,0,0,.5) */
  margin-bottom: 7px;
  position: relative;
  word-break: break-word;
}
.todo-list li.danger {
  background: rgba(217,30,24,0.8);
}
.todo-list li.danger label {
  text-decoration: line-through;
  color: #fff;
}
.todo-list li.danger label .checkbox-mask {
  border-color: transparent;
}
.todo-list li.danger label .checkbox-mask:after {
  content: '\f00c';
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
}
.todo-list li .checkbox {
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
}
.todo-list li label {
  display: block;
  font-weight: bold;
  padding-right: 10px;
}
.todo-list li label input[type="checkbox"] {
  visibility: hidden;
}
.todo-list li label .checkbox-mask {
  display: block;
  border: 2px solid #666;
  width: 12px;
  height: 12px;
  border-radius: 2.5px;
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}
.todo-list li .close {
  display: none;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  right: 10px;
  font-size: 16px;
}
.todo-list li .close .fa {
  line-height: 16px;
}
.todo-list li:hover .close {
  display: block;
}
.todo-list li .edit {
  display: none;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  right: 24px;
  font-size: 16px;
}
.todo-list li .edit .fa {
  line-height: 16px;
}
.todo-list li:hover .edit {
  display: block;
}
.has-feedback .fa {
  line-height: 32px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  display: block;
  color: #666;
  transition: color 0.15s linear;
}
.has-feedback .fa:hover {
  color: #999;
}
.add-control {
  margin-top: 20px;
  position: relative;
}
.add-control .form-control {
  padding-right: 25px;
}
.add-control .refresh {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 14px;
  transform: translateX(100%);
  margin-right: -10px;
  cursor: pointer;
  color: #9da1af;
  transition: color 0.15s linear;
}
.add-control .refresh:hover {
  color: #666;
}
.form-control,
.form-control:focus,
.form-control:active,
.form-control:active:focus {
  border: none;
  padding: 10px 15px;
  outline: none;
}
.form-control {
  box-shadow: none;
  transition: all 0.2s linear;
}
.form-control:focus {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.separator {
  margin: 15px auto;
  width: 80%;
  height: 1px;
  border-bottom: 1px dashed #abafba;
}
.animated {
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.fast {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}
@media only screen and (max-width:1100px)
{
  .container
  {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    max-width: 100vh;  
    max-height: 100vh;
  }
  .form-group
  {
    position:relative;
    width: 300px;
    margin-left: -20rem;
  }
  .add-control .refresh
  {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 14px;
    transform: translateX(100%);
    margin-right: -78px;
    cursor: pointer;
    color: #9da1af;
    transition: color 0.15s linear;
  }
  li
  {
    width:300px;
    text-align: left;
    margin-left: -20rem;
  }
  .row
  {
    width: auto;
  }
}